@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
  font-family: 'Tilt Neon', cursive;
  background-color: rgb(224, 176, 121);
  margin: 0px;
}

h1 {
  font-size: 20px;
}

input {
  margin: 5px;
  margin-right: 2px;
  font-family: 'Tilt Neon', cursive;
}

select {
  font-family: 'Tilt Neon', cursive;
}

option {
  font-family: 'Tilt Neon', cursive;
}

.articulo {
  border-top: 2px solid rgb(116, 65, 8);
  border-bottom: 2px solid rgb(116, 65, 8);
}

.trabajos {
  border-top: 2px solid rgb(116, 65, 8);
  border-bottom: 2px solid rgb(116, 65, 8);
  pointer-events: auto;

}

.tipoArticulo {
  border-top: 2px solid rgb(116, 65, 8);
  pointer-events: auto;
}

.posicion {
  border-top: 2px solid rgb(116, 65, 8);
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
}

.logos {
  border-top: 2px solid rgb(116, 65, 8);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: max-content;
}

.logos img {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.articulo:hover:not(:focus-within) {
  background-color: rgb(209, 143, 68);
}

.trabajos:hover:not(:focus-within) {
  background-color: rgb(209, 143, 68);

}

.tipoArticulo:hover:not(:focus-within) {
  background-color: rgb(209, 143, 68);

}

.posicion:hover:not(:focus-within) {
  background-color: rgb(209, 143, 68);

}

.coleccionHorizontal {
  display: flex;
}