@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("./cabecera.css");
@import url("./pedidos/datospedidos.css");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Tilt Neon", cursive;
  margin: 0;
  /* height: 100vh; */
}

button {
  font-family: "Tilt Neon", cursive;
  cursor: pointer;
  background-color: #0e1c2e;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  width: max-content;
  height: max-content;
}

.boton-de-pega {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  height: min-content;
  width: max-content;
  border-radius: 5px;
  font-size: 16px;
  background-color: #0e1c2e;
  color:rgb(255, 255, 255);
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  cursor: pointer;
}

form {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

input[type=text] {
  border-radius: 5px;
  font-family: "Tilt Neon", cursive;
  border: 1px solid #000;
}

input[type=file] {
  font-family: "Tilt Neon", cursive;
  color: transparent;
  width: 0;
  height: 0;
  cursor: pointer;
}

input[type=date] {
  border-radius: 5px;
  font-family: "Tilt Neon", cursive;
  border: 1px solid #000;
}

input::file-selector-button {
  font-family: "Tilt Neon", cursive;
  background-color: #0e1c2e;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

select {
  font-family: "Tilt Neon", cursive;
}

h1 {
  background: linear-gradient(90deg, rgba(225, 225, 225,0) 0%, rgba(225, 225, 225,0.9) 50%, rgba(225, 225, 225,0) 100%);
  backdrop-filter: blur(5px);
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  font-size: 32px;
}

h2 {
  background: linear-gradient(90deg, rgba(225, 225, 225,0) 0%, rgba(225, 225, 225,0.9) 50%, rgba(225, 225, 225,0) 100%);
  backdrop-filter: blur(5px);
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

tr {
  border-bottom: 1px solid #ddd;
  text-align: start;
}

.fila:hover {
  background-color: #d6eeee;
}

table {
  width: max-content;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #666;
  background-color: rgba(225, 225, 225, 0.7);
  backdrop-filter: blur(5px);
  height: max-content;
}

td {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  vertical-align: top;
}

td img {
  height: 60px;
}

.td-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* th, */
/* td {
  box-shadow: 0 0 0 1px #666;
} */

th,
td {
  padding: 10px;
  text-align: start;
}

td form {
  display: inline-block;
}

td button {
  display: flex;
  align-items: center;
  width: max-content;
  margin-top: 5px;
  margin-bottom: 5px;
  /* justify-content: center; */
}

label {
  font-weight: 700;
}

ion-icon {
  color: red;
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.td-botones button {
  width: 196px;
  justify-content: center;
  display: flex;
}

#div-form, #añadir-posiciones {
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(225, 225, 225, 0.7);
  backdrop-filter: blur(5px);
}

#div-form form, #añadir-posiciones form {
  display: flex;
  flex-direction: column;
}

#div-form input, #div-form select{
  margin-bottom: 20px;
}

#añadir-posiciones label {
  margin-bottom: 20px;
}

#select-button {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

#select-button select {
  margin-right: 20px;
  border-radius: 5px;
  font-family: "Tilt Neon", cursive;
}

/* #añadir-posiciones button {
  width: 40;
} */

.logo-descargable {
  height: 100%;
  width: 100%;
  position: relative;
}

.descargable {
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.8);
  opacity: 0;
}

.descargable:hover {
  opacity: 100;
}

.descargable img {
  height: 96px;
  width: 96px;
}

.descargable p {
  color: #00bb2d;
  font-weight: 700;
  margin: 0;
}

.descargable a {
  width: 100%;
  height: 100%;
  position: absolute;
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -2;
}

.ball {
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
}

#greenball1 {
  background-color: #00bb2d;
  height: 10vw;
  width: 10vw;
  top: 25vw;
  left: 25vw;
}

#greenball2 {
  background-color: #00bb2d;
  height: 20vw;
  width: 20vw;
  top: 5vw;
  left: 80vw;
}

#greenball3 {
  background-color: #00bb2d;
  height: 30vw;
  width: 30vw;
  top: -15vw;
  left: -15vw;
}

#redball1 {
  background-color: #e1251a;
  height: 10vw;
  width: 10vw;
  top: -5vw;
  left: 40vw;
}

#redball2 {
  background-color: #e1251a;
  height: 20vw;
  width: 20vw;
  top: 40vw;
  left: -10vw;
}

#redball3 {
  background-color: #e1251a;
  height: 30vw;
  width: 30vw;
  top: 60vw;
  left: 40vw;
}

#blueball1 {
  background-color: #0e1c2e;
  height: 10vw;
  width: 10vw;
  top: 80vw;
  left: 20vw;
}

#blueball2 {
  background-color: #f0cb25;
  height: 20vw;
  width: 20vw;
  top: 25vw;
  left: 50vw;
}

#yellowball1 {
  background-color: #f0cb25;
  height: 30vw;
  width: 30vw;
  top: 50vw;
  left: 90vw;
}

#divInputs {
  margin-top: 20px;
  width: 80vw;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #666;
  background-color: rgba(225, 225, 225, 0.7);
  backdrop-filter: blur(5px);
  display: grid;
  padding-top: 15px;
  padding-bottom: 15px;
  grid-template-columns: repeat(3, 2fr) 1fr;
}

#divInputs label {
  justify-self: center;
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}

#divInputs label input {
  width: 98%;
  margin-top: 5px;
}

#inputsOcultos {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

#divDatosCliente {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80vw;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #666;
  background-color: rgba(225, 225, 225, 0.7);
  backdrop-filter: blur(5px);
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 10px;
}

#divDatosPedido {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80vw;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #666;
  background-color: rgba(225, 225, 225, 0.7);
  backdrop-filter: blur(5px);
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
}

#divDatosCliente p,
#divDatosPedido p {
  margin: 0;
  margin-left: 20px;
}

.datos {
  margin-bottom: 20px;

}
.datos p {
  margin: 0;
}

#fondo-confirmar-accion {
  position: fixed !important;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cuadro-confirmar-accion {
  height: 200px;
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: rgba(225, 225, 225, 1);
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#cuadro-confirmar-accion p {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
}

input[type=submit]{
  width: min-content;
  border-radius: 5px;
  background-color: #0e1c2e;
  color:rgb(255, 255, 255);
  border: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Tilt Neon", cursive;
  font-size: 16px;
  cursor: pointer;
}

.titulo-mas-boton {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.titulo-mas-boton > h1{
  margin: 0;
  margin-right: 5px;
}

.titulo-mas-boton > form{
  margin: 0;
  margin-left: 5px;
}

.titulo-mas-boton > form > label,
td > form > label {
  margin: 0;
  height: min-content;
  display: flex;
}


#boton-crear {
  margin-left: 20px;
}

#tablaClientes {
  width: min-content;
}

#formUpdate {
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(225, 225, 225, 0.7);
  backdrop-filter: blur(5px);
  align-items: center;
}

#formUpdate button {
  margin-top: 20px;
  width: 100%;
}

#gridForm {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

#gridForm div {
  display: flex;
  flex-direction: column;
}

#subirlogo > input[type=file]{
  color: transparent;
}

.datos-boton {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.estado-pedido {
  display: flex;
  color:#e1251a;
  flex-direction: column;
  width: max-content;
  min-width: 100%;
}

.estado-pedido img {
  width: 60px;
  align-self: center;
}

.oculto {
  visibility: hidden;
}

#botones-cuadro {
  display: flex;
}

#botones-cuadro button {
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  display: flex;
}

.boton-rojo {
  background-color: #e1251a;
}

.form-añadir {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-añadir label {
  margin-bottom: 20px;
}

form > select {
  margin-bottom: 20px;
}

.td-mensaje {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  z-index: -100;
  position: fixed;
}

.td-mensaje ion-icon {
  color:#0e1c2e;
  z-index: 1;
}

.mensaje-td {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Barra chrome */
*::-webkit-scrollbar {
  width: 10px; /* ancho de la barra de desplazamiento */
  height: 10px;
  background-color: unset; /* color de fondo de la barra de desplazamiento */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 187, 44, 0.7); /* color del pulgar de la barra de desplazamiento */
  border-radius: 5px;
}

/* Estilo de la barra de desplazamiento al hacer hover */
*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 135, 21, 0.7); /* color del pulgar de la barra de desplazamiento al hacer hover */
}

/* Barra firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 187, 44, 0.7) transparent;
}

@media only screen and (max-width: 1350px) {
  table {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  table {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1050px) {
  table {
    font-size: 10px;
  }

  h1 {
    font-size: 26px;
  }
}