@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

#menu-lateral {
  height: 100%;
  width: 300px;
  position: fixed;
  right: -300px;
  top: 0;
  background-color: rgba(225, 225, 225, 1);
  z-index: 4;
}

.menu-lateral-desplegado {
  right: 0 !important;
}

#enlaces-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu-lateral a {
  color:#0e1c2e;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: "Tilt Neon", cursive;
}

#menu-lateral a:hover {
  color:#f0cb25;
}

.seleccionado {
  color:#00bb2d !important;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#desplegable-lateral {
  background-color: rgba(225, 225, 225, 1);
  height: 90px;
  width: 60px;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: -1;
}

#flecha-lateral {
  position: absolute;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 10px solid #0e1c2e;
}

.flecha-lateral-desplegada {
  border-right: 0 !important;
  border-left: 10px solid #0e1c2e;
}

#filtro {
  position: fixed !important;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}